<!doctype html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <title>{{ gettext('System Update') }}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{{ gettext('System Update') }}</span>
        </div>
    </nav>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ gettext('System Update') }}</h1>
        </div>
    </div>

    <div class="container mt-5">
        <h3>{{ gettext('System Update') }}</h3>
        {{ sysupdate_info | safe }}
        <p><b>{{ gettext('Current FlyOS Version:') }}</b> {{ os_ver }}</p>
        <p><b>{{ gettext('Current FlyOS Build Channel:') }}</b> {{ os_build_channel }}</p>
        <p><b>{{ gettext('Latest FlyOS Build Version:') }}</b> {{ latest_ver }}</p>

        <h3>{{ gettext('How to Update FlyOS') }}</h3>
        <p>{{ gettext('Currently, we only support connecting FlyOS to a PC and using "FlyOS Installer" to complete the update. This is for safety and to prevent system damage.') }}</p>
    </div>

    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>
