<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <title>Launch Linux Mode</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Launch Linux Mode - Process stopped</span>
        </div>
    </nav>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Launch Linux Mode - Stopped</h1>
        </div>
    </div>
    <h4></h4>
    <p>Linux desktop mode process has stopped, Logs:</p>
    <p id="results"></p>
    {{launch_linux_mode}}
    <footer>
        <br>
        <div class="alert alert-light" role="alert">
            Powered by: FlyOS Subsystem
            <br>
            Deploy Linux subsystem on your Android phone
            <br>
            Have a nice day :)
        </div>
    </footer>

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        setTimeout(function() {
            var resultsElement = document.getElementById('results');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/dashboard/androidmgr/launch_desktop/launch/view_logs', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    resultsElement.textContent = xhr.responseText;
                }
            };
            xhr.send();
        }, 30000); // 30 seconds delay (in milliseconds)
    </script>
</body>
</html>
