<!doctype html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
         <meta charset="utf-8">
         <title>{{ gettext('Open Source License') }}</title>
     </head>
     <body>
       <nav class="navbar navbar-light bg-light">
         <div class="container-fluid">
           <span class="navbar-brand mb-0 h1">{{ gettext('Open Source License') }}</span>
         </div>
       </nav>
  
       <div class="p-5 mb-4 bg-light rounded-3">
         <div class="container-fluid py-5">
           <h1 class="display-5 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ gettext('Open Source License') }}</font></font></h1>
           </a>
         </div>
       </div>
</div>
<div class="container mt-5">
    <h1>{{ gettext('FlyOS-Dashboard Open Source License') }}</h1>
    
    <p>{{ gettext('This software and its related documentation are open source and are governed by the terms and conditions of the GNU Affero General Public License (AGPL-V3) as published by the Free Software Foundation. You may obtain a copy of the license at') }} <a href="https://www.gnu.org/licenses/agpl-3.0.html">https://www.gnu.org/licenses/agpl-3.0.html</a></p>

    <h2>{{ gettext('Project Authors:') }}</h2>
    <div class="container mt-4">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>{{ gettext('Library') }}</th>
              <th>{{ gettext('License') }}</th>
              <th>{{ gettext('Author') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ gettext('Bootstrap CSS and JavaScript library') }}</td>
              <td>{{ gettext('MIT License') }}</td>
              <td>{{ gettext('The Bootstrap Authors') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('AdminLTE') }}</td>
              <td>{{ gettext('MIT License') }}</td>
              <td>{{ gettext('ColorlibHQ') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('Flask') }}</td>
              <td>{{ gettext('BSD 3-Clause "New" or "Revised" License') }}</td>
              <td>{{ gettext('Pallets') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('jQuery') }}</td>
              <td>{{ gettext('MIT License') }}</td>
              <td>{{ gettext('OpenJS Foundation') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('noVNC') }}</td>
              <td>{{ gettext('MPL 2.0 License') }}</td>
              <td>{{ gettext('The noVNC Authors') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('Python 3') }}</td>
              <td>{{ gettext('Python Software Foundation License') }}</td>
              <td>{{ gettext('The Python Foundation') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('ttyd') }}</td>
              <td>{{ gettext('MIT License') }}</td>
              <td>{{ gettext('Shuanglei Tao') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('Winbox.js') }}</td>
              <td>{{ gettext('Apache License 2.0') }}</td>
              <td>{{ gettext('ts-thomas') }}</td>
            </tr>
            <tr>
              <td>{{ gettext('File Browser') }}</td>
              <td>{{ gettext('Apache License 2.0') }}</td>
              <td>{{ gettext('filebrowser') }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    <p>{{ gettext('This project, named FlyOS-Dashboard, incorporates various open-source components as listed above. Additionally, if any other open-source project has been used but not explicitly mentioned, please contact us at') }} <a href="mailto:contact@digitalplat.org">contact@digitalplat.org</a> {{ gettext('for further clarification.') }}</p>

    <h2>{{ gettext('Additional Offering:') }}</h2>
    <p>{{ gettext('We provide the source code of this software along with its documentation and ensure compliance with the AGPL-V3 license. The complete and corresponding source code for any covered work is available upon request.') }}</p>

<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>