<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Android Manager</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Android Manager</span>
        </div>
    </nav>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"></font>Manage Android & FlyOS System</font>
            </h1>
            <!-- Add your buttons here -->
            <div class="row mt-4">
              <div class="col-md-4">
                <a href="/dashboard/androidmgr/launch_desktop" class="btn btn-primary btn-lg rounded-pill w-100">Launch FlyOS Desktop</a>
            </div>
            
                <div class="col-md-4 mt-3 mt-md-0">
                    <a href="/dashboard/androidmgr/usb_tethering" class="btn btn-primary btn-lg rounded-pill w-100">USB Tethering</a>
                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <a href="/dashboard/androidmgr/android_screen" class="btn btn-primary btn-lg rounded-pill w-100">Android Screen Mirroring</a>
                </div>
                <div class="col-md-4 mt-3">
                    <button class="btn btn-primary btn-lg rounded-pill w-100">Button 4</button>
                </div>
                <div class="col-md-4 mt-3">
                    <button class="btn btn-primary btn-lg rounded-pill w-100">Button 5</button>
                </div>
                <div class="col-md-4 mt-3">
                    <button class="btn btn-primary btn-lg rounded-pill w-100">Button 6</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="alert alert-light" role="alert">
            Powered by: FlyOS Subsystem
            <br>
            Deploy Linux subsystem on your Android phone
        </div>
    </footer>
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>
