<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <meta charset="utf-8">
      <title>{{ gettext("Oops!") }}</title>
   </head>
   <body>
      <nav class="navbar navbar-light bg-light">
         <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{{ gettext("Oops!") }}</span>
         </div>
      </nav>
      <div class="p-5 mb-4 bg-light rounded-3">
         <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ gettext("Woha, Seems to be having a problem!") }}</font></font></h1>
            </a>
         </div>
      </div>
      </div>
      <div class="alert alert-danger" role="alert">
         <h4>
            <p>{{info}}</p>
         </h4>
      </div>
      <div class="row mt-4">
         <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg rounded-pill w-100" onclick="goBack()">Back</button>
         </div>
      </div>
      <script>
         function goBack() {
           window.history.back();
         }
      </script>
      <br>
      <footer>
         <div class="alert alert-light" role="alert">
            {{ gettext("Powered by:") }} FlyOS Subsystem
            <br>
            {{ gettext("Deploy Linux subsystem on your Android phone") }}
            <br>
            {{ gettext("Encounter problems? Go to our community!") }}
         </div>
      </footer>
      <script src="/static/js/bootstrap.bundle.js"></script>
   </body>
</html>